<html>
<heat>
<title>mi  primera pagina web</title>
</heal>
<body bgcolor=Peacock Blue><p> estamos realizando mejoras los parafos de nustra pagina web </p>
    
<style>

    parafo{
        width:90% ;
        margin: 20px auto ;
    
padding: 20px;
        border: 4px solid;
    }

</style>

</body>
</head>
</html>

